<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ahaB42L08.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=csoracle.cegep-heritage.qc.ca;PASSWORD=p4ssw0rd;PERSIST SECURITY INFO=True;USER ID=CHINOOK"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>