<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="aha_B42L05.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=csoracle.cegep-heritage.qc.ca;PASSWORD=aha;USER ID=AHA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>