<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="L08DB.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=csoracle.cegep-heritage.qc.ca;PASSWORD=p4ssw0rd;PERSIST SECURITY INFO=True;USER ID=CHINOOK"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>