@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    325 Cite Des Jeunes<br />
    Gatineau, QC<br />
    <abbr title="Phone">P:</abbr>
    123.123.1234
</address>

<address>
    <strong>Created By</strong>   <a href="mailto:Ha.Andrew@cegep-heritage.qc.ca">Andrew Ha</a><br />
</address>