@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To The Shopping List!</h1>
    <p class="lead">Please view the current items inside your shopping list!</p>
    <p><a href="../Shopping/Index" class="btn btn-primary btn-lg">Shopping List &raquo;</a></p>
</div>

<div class="row">
    
</div>