<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="B42L06DB.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=csoracle.cegep-heritage.qc.ca;PASSWORD=aha;USER ID=AHA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>